@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  width: 100%;
}
#root {
  width: 100%;
}
.text {
  position: absolute;
  left: 20%;
  top: 38%;
  z-index: 10;
}
h1 {
  font-family: 'Playfair Display', serif;
  color: rgba(255, 255, 255, 0.63);
  font-size: 180px;
  z-index: 10;
  font-weight: lighter;
}
.outline {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.waves {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: rgb(241, 210, 210);
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.waves:before, .waves:after {
  content: "";
  position: absolute;
  background: rgb(240, 196, 196);
  margin-left: -25%;
  margin-top: -24%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -webkit-animation: wave 3s infinite linear;
          animation: wave 3s infinite linear;
}
.waves:after {
  opacity: 0;
  -webkit-animation: wave 3s 1.5s infinite linear;
          animation: wave 3s 1.5s infinite linear;
}

@-webkit-keyframes wave {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(3.5);
            transform: scale(3.5);
    opacity: 0;
  }
}

@keyframes wave {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(3.5);
            transform: scale(3.5);
    opacity: 0;
  }
}
/* @-webkit-keyframes chameleon {
  0% {
    background: #e4c0c4;
  }
  25% {
    background: #f1b9be;
  }
  50% {
    background: #dbafb4;
  }
  75% {
    background: #daa5ab;
  }
  100% {
    background: #d4989f;
  }
}
@keyframes chameleon {
  0% {
    background: #e4c0c4;
  }
  25% {
    background: #f1b9be;
  }
  50% {
    background: #dbafb4;
  }
  75% {
    background: #daa5ab;
  }
  100% {
    background: #d4989f;
  }
} */

#topLineDiv {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: rgba(255, 255, 255, 0.63);
  opacity: 0;
}
#topLineDiv #topLine {
  width: 2px;
  height: 50px;
  background: rgba(255, 255, 255, 0.63);
  margin: 0 auto;
}
#topLineDiv p {
  font-size: 20px;
  margin-top: 5px;
  animation: lineAni 2s infinite;
  font-family: 'Playfair Display', serif;
}
#botLineDiv {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: rgba(255, 255, 255, 0.63);
  opacity: 1;
}
#botLineDiv #botLine {
  width: 2px;
  height: 50px;
  background: rgba(255, 255, 255, 0.63);
  margin: 0 auto;
}
#botLineDiv p {
  font-size: 20px;
  margin-bottom: 10px;
  animation: lineAni 2s infinite;
  font-family: 'Playfair Display', serif;
}
@keyframes lineAni {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(8px);
  }
  100%{
    transform: translateY(0);     
  }
}