#cartInner {
    width: 100%;
    height: 100vh;
    color: #fff;
    text-align: center;
    padding-top: 130px;
}
#cartInner h2 {
    font-size: 32px;
    font-family: 'Playfair Display', serif;
    font-weight: lighter;
    margin-bottom: 50px;
}
#cartContent {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
#cartTable {
    width: 65%;
    height: 30%;
    border-collapse: collapse;
}

#cartTable tr td {
    border-top: 1px solid #fff;
    padding: 16px 0;
}
#cartTable tr td button {
    padding: 6px 8px 4px;
    border: none;
    border-radius: 50%;
    background:rgba(243, 243, 243, 0.8);
    color: #555;
    font-size: 18px;
}
#cartTable tr td button:hover {
    background: rgba(171, 171, 171, 0.8);
}
#cartReceipt {
    width: 23%;
    height: 40%;
    background: rgba(243, 243, 243, 0.8);
    position: relative;
    color: #333;
}
#cartReceipt::before{
    content: "";
    display: block;
    height: 10px;
    width: 100%;
    position: absolute;
    top: -10px;
    background-size: 20px 20px;
    background-image: radial-gradient(closest-side, transparent 9px, rgba(243, 243, 243, 0.8) 100%);
    transform: rotate(180deg);
}
#cartReceipt::after{
    content: "";
    display: block;
    height: 10px;
    width: 100%;
    position: absolute;
    bottom: -10px;
    background-size: 20px 20px;
    background-image: radial-gradient(closest-side, transparent 9px, rgba(243, 243, 243, 0.8) 100%);
}
#cartReceipt h3 {
    width: 90%;
    margin: 0 auto;
    font-weight: 400;
    padding: 30px 0;
    border-bottom: 1px solid #bbb;
}
#cartReceipt table {
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
    border-collapse: collapse;
}
#cartReceipt table td {
    padding: 12px 0;
}
#cartReceipt table tr:last-child td {
    padding: 15px 0;
    border-top: 1px solid #bbb;
}
#cartReceipt button {
    width: 75%;
    height: 50px;
    border: none;
    outline: none;
    background: #555;
    color: #fff;
    margin-top: 80px;
    margin-bottom: 30px;
}
#cartTable img {
    width: 50px;
    height: 60px;
}
.mobileCart {
    display: none;
}


/* 반응형 */
@media screen and (max-width: 768px) {
    /* 카트 */
    /* ✔웹 카트 - none으로 안보이게 */
    .cart1 {
        display: none;
    }
    /* ✔모바일 반응형 카트 - block */
    .mobileCart {
        display: block;
    }
    #cartTable {
        width: 100%;
    }
    #cartTable tr td {
        border-top: none;
        padding: 0;
    }
    #cartTable .mobile1 {
        border-top: 1px solid #fff;
        padding-top: 10px;
    }
    #cartTable .mobile2 {
        border-bottom: 1px solid #fff;
        padding-bottom: 10px;
    }
    #cartContent {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    #cartTable tbody tr td:nth-child(1), #cartTable tbody tr td:nth-child(2) {
        width: 50%;
    }
    #cartTable tr td button {
        padding: 6px 8px 4px;
        font-size: 13px;
    }
    #cartTable img {
        width: 80%;
        height: auto;
    }
    /* 카트 총금액 계산(cartReceipt) */
    #cartReceipt {
        width: 100%;
        margin-top: 65px;
        height: 320px;
    }
    #cartReceipt button {
        margin-top: 15px;
    }
}