#detail{
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding-top: 150px;
    font-family: 'Playfair Display','Gowun Dodum',serif;
    color: #fff;
    text-shadow: 1px 1px 3px #888;
}
#detailHead {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 200px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.63);
}
#imgList img{
    width: 100%;
    height: 500px;
}
#detailHead #detailLeft {
    display: flex;
    width: 48%;
}
#detailLeft {
    overflow: hidden;
}
#detailLeft #imgList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}
#detailLeft #imgList li{
    width: 100%;
    height: 75px;
}
#detailLeft #imgList li img{
    width: 100%;
    height: 100%;
}
#mainDetail {
    width: 520px;
    height: 620px;
    padding-left: 16px;
}
#detailRight {
    width: 48%;
    /* padding-left: 50px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 0 16px 50px;
}
#detailRight h2 {
    text-align: left;
    font-size: 40px;
}
#detailRight p {
    font-size: 32px;
}
#detailRight ul {
    text-align: left;
    line-height: 1.6;
}
#detailRight ul li {
    font-size: 20px;
}
#detailRight ul h3 {
    padding-bottom: 16px;
    font-size: 26px;
    padding-left: 15%;
}
#detailRight div select {
    width: 50px;
    height: 40px;
    border: none;
    outline: none;
    margin-right: 10px;
    background: #eee;
    box-shadow: 1px 1px 3px #666;
}
#detailRight div input {
    width: 180px;
    height: 40px;
    border: none;
    outline: none;
    margin-right: 10px;
    padding-left: 150px;
}
#detailRight div button:nth-child(3) {
    width: 140px;
    height: 40px;
    border: none;
    outline: none;
    box-shadow: 1px 1px 3px #666;
}
#desc {
    padding-top: 50px;
    width: 100%;
    padding-bottom: 200px;
}
#descText {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    line-height: 1.8;
    padding-bottom: 70px;
}
#descText h3 {
    padding-bottom: 40px;
}
#descText p {
    letter-spacing: 1.2px;
}
#descText p:nth-child(2) {
    padding-bottom: 20px;
}
#desc ul {
    width: 70%;
    margin: 0 auto;
}
#desc ul li {
    padding-bottom: 30px;
}
#desc ul img {
    width: 100%;
}
/* 수정버튼 */
#editBtn {
    border: none;
    outline: none;
    border-radius: 8px;
    background: #eecccf;
    width: 100px;
    height: 40px;
    color: #d4989f;
    box-shadow: 1px 1px 3px #666;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-weight: 600;
    margin: 30px 30px 15px 0;
}
/* 삭제버튼 */
#deleteBtn {
    border: none;
    outline: none;
    border-radius: 8px;
    background: #eecccf;
    width: 100px;
    height: 40px;
    color: #d4989f;
    box-shadow: 1px 1px 3px #666;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-weight: 600;
    margin: 30px 0 15px 0;
}