@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

#LoginContent {
    font-family: 'Playfair Display','Gowun Dodum', serif;
    color: rgba(255, 255, 255, 0.63);
    height: 100vh;
    padding-top: 250px;  
}
#LoginContent h2 {
    font-size: 58px;
    /* font-weight: lighter; */
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}
#LoginContent #inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
#LoginContent #inputs i:nth-child(1) {
    color: #d4989f;
    position: absolute;
    top: 5%;
    left: 41.5%;
}
#LoginContent #inputs i:nth-child(3) {
    color: #d4989f;
    position: absolute;
    top: 34%;
    left: 41.5%;
}
#LoginContent input {
    border: none;
    outline: none;
    margin-bottom: 16px;
    width: 350px;
    height: 50px;
    background: rgba(255, 255, 255, 0.63);
    padding-left: 50px;
}
#LoginContent ul {
    display: flex;
    padding: 10px 0;
}
#LoginContent ul li {
    font-size: 16px;
    line-height: 16px;
}
#LoginContent ul li:not(:last-child) {
    padding-right: 20px;
    border-right: 1px solid rgba(255, 255, 255, 0.63);
}
#LoginContent ul li:last-child {
    padding-left: 20px;
}
#LoginContent button {
    border: none;
    outline: none;
    margin-top: 16px;
    /* background: rgba(255, 255, 255, 0.63); */
    background: #eecccf;
    width: 350px;
    height: 50px;
    color: #d4989f;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-weight: 600;
}
/* 로그인상태 알려주는  */
.logStatus {
    position: absolute;
    top: 70%;
    font-size: 40px;
    left: 55%;
    transform: translate(-70%,-55%);
    color: rgb(230, 117, 117);
    font-family: 'Playfair Display','Gowun Dodum', serif;
}