@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

#LoginContent {
    font-family: 'Playfair Display', serif;
    color: rgba(255, 255, 255, 0.63);
}
#LoginContent h2 {
    font-size: 58px;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 20px;
}
#LoginContent #inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#LoginContent input {
    border: none;
    outline: none;
    margin-bottom: 16px;
    padding: 20px 80px;
    background: rgba(255, 255, 255, 0.63);
}
#LoginContent ul {
    display: flex;
}
#LoginContent button {
    border: none;
    outline: none;
    margin-top: 16px;
    background: rgba(255, 255, 255, 0.63);
    width: 330px;
    height: 50px;
}