@keyframes lineAni {
    0%{
      transform: translateY(0);
    }
    50%{
      transform: translateY(8px);
    }
    100%{
      transform: translateY(0);     
    }
}

#notice {
    width: 100%;
    color: #fff;
    text-align: center;
    padding-top: 130px;
    padding-bottom: 150px;
}
#notice h2 {
    font-size: 32px;
    font-family: 'Playfair Display', serif;
    font-weight: lighter;
    /* margin-bottom: 70px; */
    margin-bottom: 10px;
}
#notice p {
    margin-bottom: 70px;
    font-size: 14px;
    animation: lineAni 2s infinite;
}
#notice table {
    width: 65%;
    margin: 0 auto;
    /* display: flex;
    justify-content: space-around; */
    border-collapse: collapse;
}
#notice table tr th {
    padding: 16px 0;
    text-shadow: 1px 1px 1px #666;
    border-bottom: 1.5px solid #fff;
    border-top: 1.5px solid #fff;
    background: #e2a5ac;
}
#notice table tr td {
    border-top: 0.5px solid #fff;
    padding: 16px 0;
}
#notice table tr td:first-child {
    width: 10%;
}
#notice table tr td:nth-child(2) {
    text-align: left;
    width: 50%;
}
#notice table tr td:nth-child(3) {
    width: 20%;
}
#notice table tr td:nth-child(4) {
    width: 20%;
}
/* #notice table .hidden {
    display: none;
} */
#notice table .hidden td {
    text-align: left;
    background: #bc9095;
}
#notice table .hidden td div {
    margin: 20px;
    font-size: 14px;
}
#notice table .hidden td div .noticeSpan {
    text-decoration: underline;
    font-weight: 600;
}
#notice table .hidden td div .noticeTitle {
    font-weight: 600;
    font-size: 20px;
    text-shadow: 1px 1px 1px #888;
}
#notice table .hidden td div .noticeTitle2 {
    /* display: inline-block; */
    font-weight: 500;
    font-size: 17px;
    text-decoration: underline;
    color: rgb(231, 231, 231);
}