@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
* {cursor: url(https://cur.cursors-4u.net/cursors/cur-9/cur265.cur), auto !important;}
li { list-style: none; }
a { text-decoration: none; color: inherit; }
html{
  scroll-behavior: smooth;
}
.App {
  /* -webkit-animation: chameleon 10s infinite forwards;
  animation: chameleon 10s infinite forwards; */
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

.body {
  width: 100%;
  height: 100vh;
}

@-webkit-keyframes chameleon {
  0% {
    background: #e4c0c4;
  }
  12.5% {
    background: #f1b9be;
  }
  25% {
    background: #dbafb4;
  }
  37.5% {
    background: #daa5ab;
  }
  50% {
    background: #d4989f;
  }
  62.5% {
    background: #daa5ab;
  }
  75% {
    background: #dbafb4;
  }
  87.5% {
    background: #f1b9be;
  }
  100% {
    background: #e4c0c4;
  }
}

@keyframes chameleon {
  0% {
    background: #e4c0c4;
  }
  12.5% {
    background: #f1b9be;
  }
  25% {
    background: #dbafb4;
  }
  37.5% {
    background: #daa5ab;
  }
  50% {
    background: #d4989f;
  }
  62.5% {
    background: #daa5ab;
  }
  75% {
    background: #dbafb4;
  }
  87.5% {
    background: #f1b9be;
  }
  100% {
    background: #e4c0c4;
  }
}

/* header */
#header {
  width: 100%;
  height: 200px;
  position: fixed;
  top: 0;
}
.inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
@keyframes logo-ani {
  0%{
      stroke-dashoffset: 0;
  }
  50%{
      stroke-dashoffset: 200;
  }
  100%{
      stroke-dashoffset: 0;
     
  }
}
#wLogo{
  width: 150px;
  height: 80px;
  stroke-dasharray: 200;
  stroke-dashoffset: 0;
  position: absolute;
  top: 40px;
  left: 30px;
}
.cls-1{
  fill:none;
  stroke: rgba(255, 255, 255, 0.63);
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-width:3px;
}
#menu_bar {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 60px;
  right: 3%;
}
#menu_bar span {
  display: block;
  width: 40px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.63);
  margin-bottom: 8px;
}
#menu {
  width: 20%;
  height: 100vh;
  position: fixed;
  right: -500px;
  font-size: 46px;
  font-family: 'Playfair Display', serif;
  color: #d3848d;
  background-color: rgba(255, 255, 255, 0.63);
  padding-top: 150px;
  padding-left: 50px;
  z-index: 20;
  top:0;
}
#menu > li {
  padding-bottom: 16px;
}
#menu:hover .barBtn  {
  display: block;
}
#menu .barBtn {
  border: none;
  outline: none;
  width: 50px;
  height: 50px;
  background: transparent;
  position: absolute;
  top: 100px;
  right: 50px;
  font-size: 32px;
  color: #d3848d;
  display: none;
}

/* 여기서부터 footer */
#footer {
  width: 100%;
  height: 150px;
  position: fixed;
  bottom: 0;
  left: 0;
}
#footer #hideFooter{
  width: 100%;
  height: 150px;
  background: #fff;
  position: absolute;
  bottom: -150px;
}
#footer #footerInner {
  position: absolute;
  left: 10%;
  top: 30%;
  font-family: 'Playfair Display','Gowun Dodum',serif;
  font-size: 18px;
  font-weight: 600;
  color: #444;
  
}
#footer #logoBot{
  width: 150px;
  height: 80px;
  position: absolute;
  right: 100px;
  top: -70px;
}
#wLogoBot{
  width: 150px;
  height: 80px;
}
.cls-2{
  fill:none;
  stroke: rgba(0, 0, 0, 0.63);
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-width:3px;
}
#footerBtn {
  position: absolute;
  left: 3%;
  bottom: 40%;
  width: 50px;
  height: 50px;
  background: none;
  outline: none;
  border: none;
  font-size: 45px;
  color: #fff;
  z-index: 100;
}
#goTopBtn{
  position: absolute;
  right: 3%;
  bottom: 50%;
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  outline: none;
  font-size: 40px;
  color: #fff;
  z-index: 1000;
}
#goBotBtn{
  position: absolute;
  right: 3%;
  bottom: 30%;
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  outline: none;
  font-size: 40px;
  color: #fff;
  z-index: 1000;
}
/* 검색  */
#shopLeft p {
  margin-top: 50px;
}
#searchInput {
  width: 200px;
  height: 35px;
  background: rgba(255, 255, 255, 0.63);
  border: none;
  outline: none;
  transition: 0.5s;
  padding-left: 5px;
}
#searchBtn {
  width: 80px;
  height: 35px;
  background: rgba(255, 255, 255, 0.63);
  outline: none;
  border: none;
  transition: 0.5s;
  color: #d3848d;
}
#searchBox {
  display: flex;
  width: 100%;
  margin-top: 14px;
  opacity: 0;
}
#searchBox h4{
  font-size: 18px;
  
}
#searchBox p{
  font-size: 18px;
  padding: 10px 0;

}
#searchBox li{
  width: 33%;
}